# === WebStorm ===
/.idea/

# === Build ===

/compile
/compile-package
/compile-pegjs
/compile-tsc
/script/
/prepublish
/extra/
/tslint.json

# === Source ===

/src/

# === Test ===

/test/
/run-tests
/travis-test
/.travis.yml

# === Coverage ===

/coverage/
/run-coverage

# === Docs ===

/dev-docs/
/docs/

# === Misc ===

/resources/
/private/
